.button {
    &:hover {
        background: #000;
        transition: all .3s;
        color: #fff;
    }
    &--select {
        width: 272px;
        height: 74px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 18px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #000000;
        border: none;
        z-index: 3000;
        position: relative;
    }
    &--contacts {
        background: #F0DED0;
        border: none;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: #58595B;
    }
}